<section>
  <p>Usuarios</p>

  @if (registros().length > 0) {
    <ul>
      @for (registro of registros(); track registro){
        <li>
          @if (editando() === $index) {
            <div>
              <input [(ngModel)]="registro.nombre" placeholder="Nombre" />
              <input [(ngModel)]="registro.correo" placeholder="Correo" />
              <input type="date" [(ngModel)]="registro.fecha" placeholder="Fecha" />
              <input [(ngModel)]="registro.genero" placeholder="Género" />
              <input [(ngModel)]="registro.clasesTexto" placeholder="Clases (coma separadas)" />
              <br>
              <button (click)="guardarRegistro($index)">Guardar</button>
              <button (click)="cancelarEdicion()">Cancelar</button>
            </div>
          } @else {
            {{ registro.nombre }} - {{ registro.correo }} - {{ registro.fecha }} - {{ registro.genero }}
            <br>
            Clases: {{ registro.clases.join(', ') }}
            <br>
            <button (click)="borrarRegistro($index)">Borrar</button>
            <button (click)="editarRegistro($index)">Editar</button>
          }
        </li>
      }
    </ul>
  } @else {
    <p>No hay registros o no estás autorizado para verlos.</p>
  }
</section>

<section>
  <p>Quejas</p>

  @if (quejas().length > 0) {
    <ul>
      @for (queja of quejas(); track queja) {
        <li>
          @if (editandoQueja() === $index) {
            <div>
              <input [(ngModel)]="queja.genero" placeholder="Género" />
              <input type="date" [(ngModel)]="queja.fecha" />
              <input [(ngModel)]="queja.claseSeleccionada" placeholder="Clase seleccionada" />
              <input [(ngModel)]="queja.comentarios" placeholder="Comentarios" />
              <input [(ngModel)]="queja.clases" placeholder="Clases (separadas por coma)" />
              <br>
              <button (click)="guardarQueja($index)">Guardar</button>
              <button (click)="cancelarEdicionQueja()">Cancelar</button>
            </div>
          } @else {
            {{ queja.genero }} - {{ queja.fecha }} - {{ queja.claseSeleccionada }}
            <br>
            Clases: {{ queja.clases.join(', ') }}
            <br>
            Comentarios: {{ queja.comentarios }}
            <br>
            <button (click)="borrarQueja($index)">Borrar</button>
            <button (click)="editarQueja($index)">Editar</button>
          }
        </li>
      }
    </ul>
  } @else {
    <p>No hay quejas registradas o no estás autorizado para verlas.</p>
  }
</section>
