.nav-light {
  background-color: white !important;
  color: black !important;
}

.nav-dark {
  background-color: black !important;
  color: white !important;
}

.navbar a,
.navbar .navbar-text,
.navbar button {
  color: inherit !important;
}
